@import "bootstrap/scss/_functions.scss";
@import "bootstrap/scss/_variables.scss";


$theme-colors: (
  "primary": pink,
  "danger": #ff6699,
  "warning": #ffff99,
  "success": #00ff99,
  "info": #33cccc,
  "secondary": #33cccc,
  "dark": #031016,
);

$body-bg: #092f40;
$body-color: white;
$font-family-base: Raleway;
$card-bg: #092f40;
$card-border-color: pink;
$input-bg: #1e4659;
$input-color: #33cccc;
$input-border-color: #33cccc;
$input-focus-bg: #1e4659;
$input-focus-color: white;
$navbar-dark-color: pink;
$table-color: white;

@import 'bootstrap';